/********************************
 *  CANVASES
 *******************************/

/********************************
 *  BODY
 *******************************/

.content {
    color: #696566;
    width: 100%;
    max-width: 1024px;
}

/********************************
 *  HEADER
 *******************************/

/********************************
 *  FOOTER
 *******************************/

.foot {
    border: 3px dashed #5a1d00;
    background-color: #ff5500;
}

/********************************
 *  NAVIGATION
 *******************************/

/********************************
 *  CONTENT
 *******************************/

.content-header {
    border: 10px dashed #3d3a3b;
    background-color: #938c8e;
}

section header h1 {
    color: #3d3a3b;
}

section header h2 {
    color: #696566;
}

section header h3 {
    color: #938c8e;
}

article header {
    border: 0;
    background-color: #f5ebed;
}

.main-container {
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px;
}

.main-container ul {
    margin-left: 50px;
}

/********************************
 *  ASIDE
 *******************************/

/********************************
 *  FIGURES
 *******************************/

/********************************
 *  RESPONSIVE - GENERAL
 *******************************/